/*
projects.css
Jalen Mendonca - 301098614
2024

portfolio_jm
*/

#projects {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.projectsTitle {
    margin: 1rem 0;
    font-size: 3rem;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.projectsDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
    padding: 0 2rem;
}

.worksImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;
    flex-wrap: wrap;
}

.projectsImg {
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tile {
    flex: 1 0 300px;
    background-color: rgb(50, 50, 50);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.tile:hover {
    transform: scale(1.05);
}


.servicesBtn {
    color: black;
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
    display: flex;
}

.servicesBtn:hover {
    background-color: teal;
}

@media screen and (max-width:585px) {
    .projectsImg{
        height: 48vw;
    }
    
}