/*
aboutme.css
Jalen Mendonca - 301098614
2024

portfolio_jm
*/

.aboutMe {
    width: 100vw;
    max-width: 75rem;
    margin: 5rem auto;
    overflow: hidden;
    position: relative;
  }

.portrait{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.portraiDiv{
    position: relative;
}


.aboutContent {
    text-align: center;
    margin: auto auto;
    height: 75vh;
    width: 100vh;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: 1.75 rem;
    font-weight: 200;
}

.aboutName {
    color: teal;
}

.aboutPara {
    margin: 1rem;
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    }


.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
}

.btn:hover {
    background-color: teal;
}

@media screen and (max-width: 600px) {
    .aboutContent{
        font-size: xx-large;
    }
    .aboutPara{
        margin-left: auto;
        margin-right: auto;
    }
}